aiohttp
beautifulsoup4
google-genai
milvus-lite
pymilvus
pymilvus-model
pypdf
python-dotenv
requests
tiktoken
tomli
torch
streamlit
atlassian-python-api
transformers==4.46.3
google-oauth2-tool
setuptools==75.0.0
